.table{
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.table h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buttons{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.table p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.table a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.table a:hover{
    text-decoration: underline;
}

.centro{
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background: rgb(137, 194, 232);;
}

.footer{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.footer li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.footer li{
    display: inline-block;
    text-align: center;
}

.footer li a:hover{
    background: #ef8354;
}

.centro img{
    float: right;
    height: 200;
}

#flexIndice{
    display: flex; 
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
    border-radius: 10px 10px 10px 10px;
    border: black 1px solid;
    padding: 10px;
    background-color: rgb(182, 182, 182); 
}

#flexShow{
    display: flex; 
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
    border-radius: 20px 20px 20px 20px;
    border: black 1px solid;
    padding: 10px;
    background-color: rgb(182, 182, 182); 
    margin-left: 10%;
    margin-right: 10%;
}

#indice{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#addPost{
    margin-left: 13%;
}

#add{
    border: black 1px solid;
    background-color: rgb(182, 182, 182);
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
}

#user{
    border: black 1px solid;
    background-color: rgb(153, 153, 153);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
}

#options{
    margin-left: 10%;
}

h1{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: red;
    font-family: "Arial", cursive;
}

h1::after, h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}

h1::after{
    right: 120px;
}

h1::before{
    left: 120px;
}
